@import './responsive.scss';

#home{
    span,b{
        font-size: 24px;   
    }
    h1{
        font-size: 96px;
        font-weight: bold;
    }
    b{
        display: flex;
        justify-content: center;
        span{
            margin-left: 5px;
        }
    }
    @include mobile{
        span,b{
            font-size: 1rem;
        }
        h1{
            font-size: 2.4rem;
            margin: 20px 0;
        }
    }
}