#skill,
#project {
  .list-item {
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    h2 {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: bold;
      margin-top: 0;
      padding-top: 20px;
    }
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border: 2px solid #aeaeae;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #616161;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #000;
    }
  }
}
